global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in  
    bind *:80
    acl sub path_beg -i /ng
    use_backend srvng if sub
    default_backend nginx1
    http-response add-header X-App-Server %b/%s

backend nginx1
  balance roundrobin
  option httpclose
  option forwardfor
  server httpA nginx1 weight 100 
  server httpB nginx2 weight 100 

backend srvng
  option httpclose
  option forwardfor
  server httpC nginx3
  http-request set-path /

listen admin
    bind *:9000
    stats enable
    stats uri /
    stats auth admin:admin  
